In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer

In [2]:
data=pd.read_excel('real_final2.xlsx')
data.head()

,영화명,개봉일,누적관객수,국적,배급사,등급,평점,뉴스,경쟁 영화수,상영시간,...,모험,SF,가족,뮤지컬,공연,전쟁,다큐멘터리,사극,느와르,new스크린수
0,극한직업,20190123,16266338,한국,씨제이이앤엠(주),15세이상관람가,9.20,358109,511,111,...,0,0,0,0,0,0,0,0,0,1978.0
1,어벤져스: 엔드게임,20190424,13977602,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,9.50,521258,632,181,...,0,0,0,0,0,0,0,0,0,2835.0
2,겨울왕국 2,20191121,13747792,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,8.95,304370,951,103,...,0,0,0,0,0,0,0,0,0,2648.0
3,알라딘,20190523,12555894,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,9.42,156573,698,128,...,1,0,0,0,0,0,0,0,0,1311.0
4,신과함께-인과 연,20180801,12276359,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,8.63,393626,763,141,...,0,0,0,0,0,0,0,0,0,2235.0

In [3]:
#data=data.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1) #Unnamed: 0.1 이 생겨서 또 삭제함

In [4]:
#변수별 null값 있는지 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 39 columns):
영화명        630 non-null object
개봉일        630 non-null int64
누적관객수      630 non-null int64
국적         630 non-null object
배급사        630 non-null object
등급         630 non-null object
평점         630 non-null float64
뉴스         630 non-null int64
경쟁 영화수     630 non-null int64
상영시간       630 non-null int64
장르         630 non-null object
한국         630 non-null int64
new배급사     630 non-null int64
등급.1       630 non-null int64
전국스크린수     625 non-null float64
개봉월        630 non-null int64
요일         630 non-null int64
주말         630 non-null int64
계절         630 non-null int64
애니메이션      630 non-null int64
액션         630 non-null int64
드라마        630 non-null int64
코미디        630 non-null int64
범죄         630 non-null int64
멜로/로맨스     630 non-null int64
스릴러        630 non-null int64
공포         630 non-null int64
판타지        630 non-null int64
미스터리       630 non-null int64
모험         630 non-null int64
SF         630 non-null int64
가족         630 non-null int64
뮤지컬        630 non-null int64
공연         630 non-null int64
전쟁         630 non-null int64
다큐멘터리      630 non-null int64
사극         630 non-null int64
느와르        630 non-null int64
new스크린수    625 non-null float64
dtypes: float64(3), int64(31), object(5)
memory usage: 192.0+ KB

In [5]:
#new스크린수에 5개 데이터가 없기 때문에 knnimpute 를 이용하여 채우기
screen_init=pd.DataFrame(data["new스크린수"])
imputer=KNNImputer(n_neighbors=5)
screen=imputer.fit_transform(screen_init)

In [6]:
data["new스크린수"]=screen
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 39 columns):
영화명        630 non-null object
개봉일        630 non-null int64
누적관객수      630 non-null int64
국적         630 non-null object
배급사        630 non-null object
등급         630 non-null object
평점         630 non-null float64
뉴스         630 non-null int64
경쟁 영화수     630 non-null int64
상영시간       630 non-null int64
장르         630 non-null object
한국         630 non-null int64
new배급사     630 non-null int64
등급.1       630 non-null int64
전국스크린수     625 non-null float64
개봉월        630 non-null int64
요일         630 non-null int64
주말         630 non-null int64
계절         630 non-null int64
애니메이션      630 non-null int64
액션         630 non-null int64
드라마        630 non-null int64
코미디        630 non-null int64
범죄         630 non-null int64
멜로/로맨스     630 non-null int64
스릴러        630 non-null int64
공포         630 non-null int64
판타지        630 non-null int64
미스터리       630 non-null int64
모험         630 non-null int64
SF         630 non-null int64
가족         630 non-null int64
뮤지컬        630 non-null int64
공연         630 non-null int64
전쟁         630 non-null int64
다큐멘터리      630 non-null int64
사극         630 non-null int64
느와르        630 non-null int64
new스크린수    630 non-null float64
dtypes: float64(3), int64(31), object(5)
memory usage: 192.0+ KB

In [7]:
#계절데이터가 연속형으로 들어가있기 때문에 범주형으로 바꿔주기
season_init=data["계절"]
season=pd.get_dummies(season_init)
data['겨울']=season.iloc[:,0]
data['봄']=season.iloc[:,1]
data['여름']=season.iloc[:,2]
data['가을']=season.iloc[:,3]
data.head()

,영화명,개봉일,누적관객수,국적,배급사,등급,평점,뉴스,경쟁 영화수,상영시간,...,공연,전쟁,다큐멘터리,사극,느와르,new스크린수,겨울,봄,여름,가을
0,극한직업,20190123,16266338,한국,씨제이이앤엠(주),15세이상관람가,9.20,358109,511,111,...,0,0,0,0,0,1978.0,1,0,0,0
1,어벤져스: 엔드게임,20190424,13977602,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,9.50,521258,632,181,...,0,0,0,0,0,2835.0,0,1,0,0
2,겨울왕국 2,20191121,13747792,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,8.95,304370,951,103,...,0,0,0,0,0,2648.0,0,0,0,1
3,알라딘,20190523,12555894,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,9.42,156573,698,128,...,0,0,0,0,0,1311.0,0,1,0,0
4,신과함께-인과 연,20180801,12276359,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,8.63,393626,763,141,...,0,0,0,0,0,2235.0,0,0,1,0

In [8]:
data.columns

Index(['영화명', '개봉일', '누적관객수', '국적', '배급사', '등급', '평점', '뉴스', '경쟁 영화수', '상영시간',
       '장르', '한국', 'new배급사', '등급.1', '전국스크린수', '개봉월', '요일', '주말', '계절',
       '애니메이션', '액션', '드라마', '코미디', '범죄', '멜로/로맨스', '스릴러', '공포', '판타지', '미스터리',
       '모험', 'SF', '가족', '뮤지컬', '공연', '전쟁', '다큐멘터리', '사극', '느와르', 'new스크린수',
       '겨울', '봄', '여름', '가을'],
      dtype='object')

In [9]:
input_var=['new배급사', '평점', '뉴스', '경쟁 영화수', '상영시간',
           '한국', '등급.1',  '개봉월', '요일', '주말',
           '애니메이션', '액션', '드라마', '코미디', '범죄', '멜로/로맨스', '스릴러', '공포', '판타지', '미스터리',
           '모험', 'SF', '가족', '뮤지컬', '공연', '전쟁', '다큐멘터리', '사극', '느와르','new스크린수',
           '겨울','봄','여름','가을']
target=['누적관객수']

In [10]:
train=data[input_var]
test=data[target]
train.rename(columns={'등급.1':'관람등급'},inplace=True)
train.rename(columns={'new배급사':'영화배급사'},inplace=True)
train.rename(columns={'new스크린수':'스크린수'},inplace=True)

C:\Users\yangj\Anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [11]:
train

,영화배급사,평점,뉴스,경쟁 영화수,상영시간,한국,관람등급,개봉월,요일,주말,...,공연,전쟁,다큐멘터리,사극,느와르,스크린수,겨울,봄,여름,가을
0,1,9.20,358109,511,111,1,2,1,2,0,...,0,0,0,0,0,1978.0000,1,0,0,0
1,1,9.50,521258,632,181,0,1,4,2,0,...,0,0,0,0,0,2835.0000,0,1,0,0
2,1,8.95,304370,951,103,0,0,11,3,0,...,0,0,0,0,0,2648.0000,0,0,0,1
3,1,9.42,156573,698,128,0,0,5,3,0,...,0,0,0,0,0,1311.0000,0,1,0,0
4,1,8.63,393626,763,141,1,1,8,2,0,...,0,0,0,0,0,2235.0000,0,0,1,0
5,1,9.07,657676,698,131,1,2,5,3,0,...,0,0,0,0,0,1948.0000,0,1,0,0
6,1,9.45,159481,651,134,0,1,10,2,0,...,0,0,0,0,0,936.0000,0,0,0,1
7,1,8.99,286604,622,103,1,1,7,2,0,...,0,0,0,0,0,1660.0000,0,0,1,0
8,1,7.47,345606,827,128,1,1,12,3,0,...,0,0,0,0,0,1971.0000,1,0,0,0
9,1,8.99,219114,622,129,0,1,7,1,0,...,0,0,0,0,0,2142.0000,0,0,1,0
10,1,9.15,184306,721,147,0,2,7,2,0,...,0,0,0,0,0,1957.0000,0,0,1,0
11,1,8.45,189142,583,123,0,1,3,2,0,...,0,0,0,0,0,2100.0000,0,1,0,0
12,1,8.85,121130,721,118,0,1,7,2,0,...,0,0,0,0,0,1775.0000,0,0,1,0
13,1,8.63,347345,746,135,1,1,9,2,0,...,0,0,0,0,0,1344.0000,0,0,0,1
14,1,9.08,274249,651,115,1,2,10,2,0,...,0,0,0,0,0,1313.0000,0,0,0,1
15,1,8.97,158402,689,123,0,2,10,2,0,...,0,0,0,0,0,1418.0000,0,0,0,1
16,1,8.77,125289,756,143,0,1,12,2,0,...,0,0,0,0,0,1272.0000,1,0,0,0
17,1,7.86,119314,763,137,1,1,8,2,0,...,0,0,0,0,0,1317.0000,0,0,1,0
18,1,9.07,240893,641,135,1,2,8,2,0,...,0,0,0,0,0,1476.0000,0,0,1,0
19,1,8.47,245589,550,114,1,2,1,2,0,...,0,0,0,0,0,1659.0000,1,0,0,0
20,1,8.64,164897,622,73,0,0,7,2,0,...,0,0,0,0,0,1936.0000,0,0,1,0
21,1,8.16,174472,621,114,1,2,9,2,0,...,0,0,0,0,0,1511.0000,0,0,0,1
22,1,8.24,102451,651,107,0,2,10,2,0,...,0,0,0,0,0,1308.0000,0,0,0,1
23,1,8.58,208945,651,110,1,2,10,2,0,...,0,0,0,0,0,1177.0000,0,0,0,1
24,1,8.71,204713,911,114,1,1,11,2,0,...,0,0,0,0,0,1180.0000,0,0,0,1
25,1,9.13,303834,689,118,1,1,10,2,0,...,0,0,0,0,0,1486.0000,0,0,0,1
26,1,8.83,82652,641,136,0,1,8,2,0,...,0,0,0,0,0,1311.0000,0,0,1,0
27,1,9.23,125842,711,100,0,0,6,3,0,...,0,0,0,0,0,1336.0000,0,0,1,0
28,1,8.39,89663,583,115,1,2,3,2,0,...,0,0,0,0,0,1431.0000,0,1,0,0
29,0,8.55,214896,698,110,1,3,5,2,0,...,0,0,0,0,0,1307.0000,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,0,8.45,2900,466,68,1,0,2,3,0,...,0,0,0,0,0,348.0000,1,0,0,0
601,0,9.11,18444,698,90,0,1,7,2,0,...,0,0,0,0,0,249.0000,0,0,1,0
602,1,7.52,139240,556,120,1,1,2,3,0,...,0,0,0,0,0,1249.0000,1,0,0,0
603,0,6.73,29612,294,100,1,3,10,3,0,...,0,0,0,0,0,285.0000,0,0,0,1
604,1,9.28,236664,636,121,1,3,10,1,0,...,0,0,0,0,0,631.2016,0,0,0,1
605,1,8.52,92900,681,93,1,1,10,3,0,...,0,0,0,0,0,462.0000,0,0,0,1
606,0,7.53,40957,612,132,0,3,12,3,0,...,0,0,0,0,0,449.0000,1,0,0,0
607,1,8.73,101412,258,117,1,1,9,3,0,...,0,0,0,0,0,400.0000,0,0,0,1
608,1,8.01,2821,29,153,0,2,1,4,0,...,0,0,0,0,0,35.0000,1,0,0,0
609,1,8.13,10913,91,116,1,2,8,3,0,...,0,0,0,0,0,172.0000,0,0,1,0
610,0,6.40,1385,129,89,0,1,5,3,0,...,0,0,0,0,0,147.0000,0,1,0,0
611,1,7.85,3793,605,120,0,1,3,2,0,...,0,0,0,0,0,111.0000,0,1,0,0
612,1,8.78,7044,29,116,1,2,1,4,0,...,0,0,0,0,0,40.0000,1,0,0,0
613,0,7.35,47746,370,102,1,3,4,3,0,...,0,0,0,0,0,278.0000,0,1,0,0
614,0,8.96,916,559,67,1,0,2,2,0,...,0,0,0,0,0,172.0000,1,0,0,0
615,0,7.47,27070,57,102,1,2,2,3,0,...,0,0,0,0,0,139.0000,1,0,0,0
616,1,8.37,19976,169,113,1,3,8,2,0,...,0,0,0,0,0,235.0000,0,0,1,0
617,1,7.80,1968,310,112,0,3,4,3,0,...,0,0,0,0,0,198.0000,0,1,0,0
618,1,8.91,2463,107,104,0,0,1,4,0,...,0,0,0,0,0,95.0000,1,0,0,0
619,1,6.10,7653,485,99,0,2,4,3,0,...,0,0,0,0,0,390.0000,0,1,0,0
620,1,6.84,59564,183,111,1,2,4,2,0,...,0,0,0,0,0,506.0000,0,1,0,0
621,0,8.96,1414,535,67,0,0,1,3,0,...,0,0,0,0,0,305.0000,1,0,0,0
622,1,7.58,155619,668,130,1,2,5,2,0,...,0,0,0,0,0,809.0000,0,1,0,0
623,0,7.12,3022,258,110,0,1,9,3,0,...,0,0,0,0,0,242.0000,0,0,0,1
624,1,6.65,182612,604,100,1,3,4,3,0,...,0,0,0,0,0,985.0000,0,1,0,0
625,1,6.95,51267,239,124,1,2,9,3,0,...,0,0,0,0,0,441.0000,0,0,0,1
626,0,7.94,89190,605,101,1,2,3,2,0,...,0,0,0,0,0,925.0000,0,1,0,0
627,1,7.43,224269,485,135,1,2,4,2,0,...,0,0,0,0,0,1054.0000,0,1,0,0
628,1,7.87,99129,401,122,1,2,8,2,0,...,0,0,0,0,0,611.0000,0,0,1,0
629,1,9.20,37504,535,104,0,0,1,3,0,...,0,0,0,0,0,1177.0000,1,0,0,0

In [12]:
X_train, X_test, y_train, y_test = train_test_split(train, test, test_size = 0.4, random_state= 42)

In [13]:
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size = 0.5, random_state= 42)

In [14]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)

(378, 34)
(126, 34)
(126, 34)

In [15]:
#real_final2에서 계절을 범주형변수로 바꾸고 new스크린수 생성한 자료
data.to_excel('real_final3.xlsx')

## Naive benchmark

In [16]:
y_naive = np.mean(y_train)
rmse_naive = np.sqrt( np.mean( (y_val - y_naive)**2 ) )
print(rmse_naive)

누적관객수    2.761240e+06
dtype: float64

In [17]:
# 누적관갹수에 대하여 로그변환
y_naive = np.mean(np.log1p(y_train))
rmse_naive = np.sqrt( np.mean( (np.log1p(y_val) - y_naive)**2 ) )
print(rmse_naive)

누적관객수    2.015662
dtype: float64

In [18]:
# 누적관갹수에 대하여 로그변환(MAE)
mae_naive = np.mean( abs( (np.log1p(y_val) - y_naive) ) )
print(mae_naive)

누적관객수    1.743451
dtype: float64