## |2018년 - 2020년 역대 한국 누적 박스오피스 데이터 크롤링

In [2]:
import pandas as pd

In [2]:
df=pd.read_excel(r"C:\Users\yangj\Desktop\KOBIS_기간별박스오피스.xlsx",encoding='cp949')
#a=pd.read_csv(r'C:\Users\yangj\Desktop\KOBIS_기간별박스오피스.csv', encoding = 'cp949')
df.head()

,■ 기간별 박스오피스,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,- 조회일: 2020-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,- 출처: 영화진흥위원회 통합전산망 (http://www.kobis.or.kr),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,▶ 검색조건 [ 조회기간: 2018-07-01~2020-06-30 영화구분: 일...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
4,NaN,NaN,NaN,NaN,점유율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns=['순위','영화명','개봉일','매출액','매출액점유율','누적매출액','관객수','누적관객수','스크린수','상영횟수','대표국적','국적','제작사',
          '배급사','등급','장르','감독','배우']
df.head()

,순위,영화명,개봉일,매출액,매출액점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
0,- 조회일: 2020-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,- 출처: 영화진흥위원회 통합전산망 (http://www.kobis.or.kr),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,▶ 검색조건 [ 조회기간: 2018-07-01~2020-06-30 영화구분: 일...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
4,NaN,NaN,NaN,NaN,점유율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.drop([0,1,2,3,4],inplace=True)
df.head()

,순위,영화명,개봉일,매출액,매출액점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
5,1,극한직업,2019-01-23 00:00:00,139655543516,0.045,139655543516,16266338,16266338,2003,292816,한국,한국,"(주)어바웃필름,영화사 해그림 주식회사,씨제이이앤엠(주)",씨제이이앤엠(주),15세이상관람가,코미디,이병헌,"류승룡,이하늬,진선규,이동휘,공명,양현민,장진희,한준우,김명준,나철,정재광,정원창,..."
6,2,어벤져스: 엔드게임,2019-04-24 00:00:00,122492181020,0.04,122492181020,13977602,13977602,2835,246433,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,SF","안소니 루소,조 루소","로버트 다우니 주니어,크리스 에반스,마크 러팔로,크리스 헴스워스,스칼렛 요한슨,제레..."
7,3,겨울왕국 2,2019-11-21 00:00:00,114810421450,0.037,114810421450,13747792,13747792,2648,299334,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"크리스 벅,제니퍼 리","크리스틴 벨,이디나 멘젤,조시 게드,조나단 그로프"
8,4,알라딘,2019-05-23 00:00:00,106983620359,0.035,106983620359,12555894,12555894,1409,266518,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"어드벤처,가족,판타지",가이 리치,"메나 마수드,윌 스미스,나오미 스콧"
9,5,신과함께-인과 연,2018-08-01 00:00:00,102677730409,0.033,102677730409,12276359,12276359,2235,180047,한국,한국,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,"판타지,드라마",김용화,"하정우,주지훈,김향기,마동석,김동욱,이정재,김기태,오희준,도경수,이준혁,이수봉,이용..."

In [6]:
df_=df.drop(['순위','매출액','매출액점유율','누적매출액','관객수','대표국적','제작사','감독','배우'],axis=1)
df_.head()

,영화명,개봉일,누적관객수,스크린수,상영횟수,국적,배급사,등급,장르
5,극한직업,2019-01-23 00:00:00,16266338,2003,292816,한국,씨제이이앤엠(주),15세이상관람가,코미디
6,어벤져스: 엔드게임,2019-04-24 00:00:00,13977602,2835,246433,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,SF"
7,겨울왕국 2,2019-11-21 00:00:00,13747792,2648,299334,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션
8,알라딘,2019-05-23 00:00:00,12555894,1409,266518,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"어드벤처,가족,판타지"
9,신과함께-인과 연,2018-08-01 00:00:00,12276359,2235,180047,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,"판타지,드라마"

In [7]:
len(df_)

6556

## |누적관객수 1만명 이상 데이터만 사용
만명 이하일 경우에는 독립영화 또는 비상업적 영화들이 존재하기 때문에 상업영화와 같이 비교하는것에는 무리가 있다고 판단

In [20]:
main=df_.loc[df_['누적관객수']>=10000,:]
len(main)
main.head()
# 1만 이상 : 650개
# 5만 이상 : 507개 
# 10만 이상 : 464개
# 50만 이상 : 312개
# 100만 이상 : 235개

,영화명,개봉일,누적관객수,스크린수,상영횟수,국적,배급사,등급,장르
5,극한직업,2019-01-23 00:00:00,16266338,2003,292816,한국,씨제이이앤엠(주),15세이상관람가,코미디
6,어벤져스: 엔드게임,2019-04-24 00:00:00,13977602,2835,246433,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,SF"
7,겨울왕국 2,2019-11-21 00:00:00,13747792,2648,299334,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션
8,알라딘,2019-05-23 00:00:00,12555894,1409,266518,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"어드벤처,가족,판타지"
9,신과함께-인과 연,2018-08-01 00:00:00,12276359,2235,180047,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,"판타지,드라마"

## |좌석수 변수 크롤링

In [21]:
seat1=pd.read_excel(r"C:\Users\yangj\Desktop\KOBIS_기간별_좌석점유율.xlsx",encoding='cp949')
seat1.columns=['순위','영화명','개봉일','좌석판매율','좌석점유율','좌석수','매출액','누적매출액','관객수','누적관객수']
seat1.drop([0,1,2,3],inplace=True)
seat1_=seat1.drop(['순위','매출액','누적매출액'],axis=1)
seat1_.head()

          영화명                  개봉일  좌석판매율  좌석점유율       좌석수       관객수     누적관객수
4        극한직업  2019-01-23 00:00:00   0.32  0.048  50723592  16263360  16263360
5  어벤져스: 엔드게임  2019-04-24 00:00:00  0.346  0.038  40221105  13918759  13918759
6    보헤미안 랩소디  2018-10-31 00:00:00  0.258  0.036  38418353   9948386   9948386
7       캡틴 마블  2019-03-06 00:00:00  0.179   0.03  32359134   5801069   5801069
8   신과함께-인과 연  2018-08-01 00:00:00  0.404  0.029  30367495  12276115  12276115

In [22]:
seat2=pd.read_excel(r"C:\Users\yangj\Desktop\KOBIS_기간별_좌석점유율(1).xlsx",encoding='cp949')
seat2.columns=['순위','영화명','개봉일','좌석판매율','좌석점유율','좌석수','매출액','누적매출액','관객수','누적관객수']
seat2.drop([0,1,2,3],inplace=True)
seat2_=seat2.drop(['순위','매출액','누적매출액'],axis=1)
seat2_.head()

,영화명,개봉일,좌석판매율,좌석점유율,좌석수,관객수,누적관객수
4,겨울왕국 2,2019-11-21 00:00:00,0.276,0.055,49698035,13747792,13747792
5,엑시트,2019-07-31 00:00:00,0.285,0.037,32974670,9426178,9426178
6,스파이더맨: 파 프롬 홈,2019-07-02 00:00:00,0.257,0.035,31111020,8022470,8023326
7,백두산,2019-12-19 00:00:00,0.27,0.034,30491389,8252669,8252669
8,조커,2019-10-02 00:00:00,0.204,0.028,25751567,5255308,5255308

In [32]:
A=pd.merge(seat1_,seat2_,how='outer',on=['영화명','개봉일'])
A=A.drop(['좌석판매율_x','좌석점유율_x','좌석판매율_y','좌석점유율_y'],axis=1)
A=A.fillna(0)
A['좌석수']=list(A['좌석수_x']+A['좌석수_y'])
A.head()

,영화명,개봉일,좌석수_x,관객수_x,누적관객수_x,좌석수_y,관객수_y,누적관객수_y,좌석수
0,극한직업,2019-01-23 00:00:00,50723592,16263360,16263360,37141,2978,16266338,50760733
1,어벤져스: 엔드게임,2019-04-24 00:00:00,40221105,13918759,13918759,870470,58843,13977602,41091575
2,보헤미안 랩소디,2018-10-31 00:00:00,38418353,9948386,9948386,0,0,0,38418353
3,캡틴 마블,2019-03-06 00:00:00,32359134,5801069,5801069,74072,1741,5802810,32433206
4,신과함께-인과 연,2018-08-01 00:00:00,30367495,12276115,12276115,8827,244,12276359,30376322

In [33]:
A=A.drop(['좌석수_x','관객수_x','누적관객수_x','좌석수_y','관객수_y','누적관객수_y'],axis=1)
A.head()

          영화명                  개봉일       좌석수
0        극한직업  2019-01-23 00:00:00  50760733
1  어벤져스: 엔드게임  2019-04-24 00:00:00  41091575
2    보헤미안 랩소디  2018-10-31 00:00:00  38418353
3       캡틴 마블  2019-03-06 00:00:00  32433206
4   신과함께-인과 연  2018-08-01 00:00:00  30376322

In [26]:
#좌석수가 다 있음
kk1=pd.merge(main,A,on=['영화명','개봉일'])
len(kk1)

643

In [29]:
kk1

,영화명,개봉일,누적관객수,스크린수,상영횟수,국적,배급사,등급,장르,좌석수
0,극한직업,2019-01-23 00:00:00,16266338,2003,292816,한국,씨제이이앤엠(주),15세이상관람가,코미디,50760733
1,어벤져스: 엔드게임,2019-04-24 00:00:00,13977602,2835,246433,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,SF",41091575
2,겨울왕국 2,2019-11-21 00:00:00,13747792,2648,299334,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,49698035
3,알라딘,2019-05-23 00:00:00,12555894,1409,266518,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"어드벤처,가족,판타지",40475289
4,신과함께-인과 연,2018-08-01 00:00:00,12276359,2235,180047,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,"판타지,드라마",30376322
5,기생충,2019-05-30 00:00:00,10313086,1948,206389,한국,씨제이이앤엠(주),15세이상관람가,드라마,33611703
6,보헤미안 랩소디,2018-10-31 00:00:00,9948386,1179,232226,미국,"월트디즈니컴퍼니코리아 유한책임회사,이십세기폭스코리아(주)",12세이상관람가,드라마,38418353
7,엑시트,2019-07-31 00:00:00,9426178,1660,202227,한국,씨제이이앤엠(주),12세이상관람가,"코미디,액션",32974670
8,백두산,2019-12-19 00:00:00,8252669,1971,174320,한국,"씨제이이앤엠(주),(주)덱스터스튜디오",12세이상관람가,"어드벤처,드라마",30491389
9,스파이더맨: 파 프롬 홈,2019-07-02 00:00:00,8023326,2142,181024,미국,소니픽쳐스엔터테인먼트코리아주식회사극장배급지점,12세이상관람가,"액션,어드벤처,코미디,SF",31111884
10,미션 임파서블: 폴아웃,2018-07-25 00:00:00,6584915,1957,101374,미국,롯데컬처웍스(주)롯데엔터테인먼트,15세이상관람가,"액션,스릴러",16397677
11,캡틴 마블,2019-03-06 00:00:00,5802810,2100,186382,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,어드벤처,SF",32433206
12,앤트맨과 와스프,2018-07-04 00:00:00,5448134,1775,148244,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,어드벤처,SF",27191101
13,안시성,2018-09-19 00:00:00,5441020,1540,110444,한국,(주)넥스트엔터테인먼트월드(NEW),12세이상관람가,"사극,액션",18782532
14,완벽한 타인,2018-10-31 00:00:00,5294154,1325,143075,한국,롯데컬처웍스(주)롯데엔터테인먼트,15세이상관람가,"드라마,코미디",23283533
15,조커,2019-10-02 00:00:00,5255308,1418,148270,미국,워너브러더스 코리아(주),15세이상관람가,"액션,드라마,스릴러",25751567
16,아쿠아맨,2018-12-19 00:00:00,5040430,1285,105412,"미국,호주",워너브러더스 코리아(주),12세이상관람가,액션,18448397
17,공작,2018-08-08 00:00:00,4975517,1317,99122,한국,씨제이이앤엠(주),12세이상관람가,드라마,16216325
18,봉오동 전투,2019-08-07 00:00:00,4787538,1476,107030,한국,(주)쇼박스,15세이상관람가,"사극,액션,드라마",17118953
19,남산의 부장들,2020-01-22 00:00:00,4750208,1659,140050,한국,(주)쇼박스,15세이상관람가,드라마,24017259
20,라이온 킹,2019-07-17 00:00:00,4743264,1936,126496,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"어드벤처,드라마,가족",21605721
21,나쁜 녀석들: 더 무비,2019-09-11 00:00:00,4573902,1511,113938,한국,씨제이이앤엠(주),15세이상관람가,"범죄,액션",19834145
22,베놈,2018-10-03 00:00:00,3888096,1308,116149,미국,소니픽쳐스엔터테인먼트코리아주식회사극장배급지점,15세이상관람가,"액션,SF,스릴러",20599154
23,암수살인,2018-10-03 00:00:00,3789553,1177,126128,한국,(주)쇼박스,15세이상관람가,"범죄,드라마",20872551
24,국가부도의 날,2018-11-28 00:00:00,3755233,1180,101077,한국,씨제이이앤엠(주),12세이상관람가,드라마,18059775
25,82년생 김지영,2019-10-23 00:00:00,3679019,1486,145461,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,드라마,23394151
26,분노의 질주: 홉스&쇼,2019-08-14 00:00:00,3657536,1311,94896,미국,유니버설픽쳐스인터내셔널 코리아(유),12세이상관람가,액션,16448814
27,토이 스토리 4,2019-06-20 00:00:00,3400623,1336,85913,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"애니메이션,어드벤처,코미디",13824345
28,돈,2019-03-20 00:00:00,3389125,1431,120809,한국,(주)쇼박스,15세이상관람가,범죄,20089841
29,악인전,2019-05-15 00:00:00,3364712,1307,97351,한국,"(주)에이스메이커무비웍스,(주)키위미디어그룹",청소년관람불가,"범죄,액션",16394662
...,...,...,...,...,...,...,...,...,...,...
613,최강전사 미니특공대: 영웅의 탄생,2016-02-04 00:00:00,117446,2,6,한국,(주)삼지애니메이션,전체관람가,애니메이션,730
614,플립,2017-07-12 00:00:00,355781,1,1,미국,(주)팝엔터테인먼트,12세이상관람가,"드라마,멜로/로맨스",103
615,조선명탐정: 흡혈괴마의 비밀,2018-02-08 00:00:00,2444136,1,2,한국,(주)쇼박스,12세이상관람가,"사극,어드벤처,코미디",556
616,미쓰 홍당무,2008-10-16 00:00:00,539121,1,1,한국,(주)벤티지홀딩스,청소년관람불가,"드라마,코미디",112
617,범죄도시,2017-10-03 00:00:00,6880546,1,7,한국,"메가박스중앙(주)플러스엠,(주)키위미디어그룹",청소년관람불가,"범죄,액션",1157
618,걷기왕,2016-10-20 00:00:00,95552,1,3,한국,CGV아트하우스,12세이상관람가,드라마,413
619,레전드,2015-12-10 00:00:00,180091,1,1,"프랑스,영국",(주)이수C&E,청소년관람불가,"액션,범죄,드라마",152
620,시라노; 연애조작단,2010-09-16 00:00:00,2684807,1,2,한국,롯데쇼핑㈜롯데엔터테인먼트,12세이상관람가,"멜로/로맨스,코미디",200
621,라스트 사무라이,2004-01-09 00:00:00,299214,1,1,미국,워너브러더스 코리아(주),15세관람가,액션,200
622,천하장사 마돈나,2006-08-31 00:00:00,575381,1,1,한국,씨제이엔터테인먼트,15세관람가,"드라마,코미디",123
623,용호문,2007-05-10 00:00:00,68514,1,4,홍콩,㈜스튜디오이쩜영,12세이상관람가,액션,624
624,막달라 마리아: 부활의 증인,2018-03-28 00:00:00,30833,1,2,영국,유니버설픽쳐스인터내셔널 코리아(유),12세이상관람가,드라마,180
625,말죽거리 잔혹사,2004-01-16 00:00:00,604972,1,1,한국,씨제이엔터테인먼트,15세관람가,"액션,멜로/로맨스",192
626,노리개,2013-04-18 00:00:00,169066,1,2,한국,(주)인벤트스톤,청소년관람불가,드라마,400
627,레이디버그,2017-02-22 00:00:00,41043,1,2,"한국,프랑스,일본",(주)삼지애니메이션,전체관람가,"애니메이션,액션,어드벤처",316
628,그때 그 사람들,2005-02-03 00:00:00,890602,1,2,한국,(주)엠케이픽처스,15세관람가,"미스터리,코미디",102
629,리턴,2007-08-08 00:00:00,641853,1,1,한국,씨제이엔터테인먼트,청소년관람불가,"미스터리,스릴러",200
630,코난: 암흑의 시대,2012-04-05 00:00:00,33684,1,1,미국,씨제이이앤엠(주),청소년관람불가,"판타지,액션",153
631,투 브라더스,2006-01-20 00:00:00,144860,1,1,"프랑스,영국",씨제이엔터테인먼트,전체관람가,"드라마,가족,어드벤처",200
632,헤라클레스 : 레전드 비긴즈,2014-04-10 00:00:00,221341,1,1,미국,(주)넥스트엔터테인먼트월드(NEW),15세이상관람가,"액션,판타지",59
633,구르믈 버서난 달처럼,2010-04-28 00:00:00,1383867,1,1,한국,에스케이텔레콤(주),15세이상관람가,"사극,액션",164
634,극장판 레이디버그: 미라클스톤의 비밀,2018-01-25 00:00:00,34466,1,1,프랑스,(주)삼지애니메이션,전체관람가,애니메이션,203
635,대립군,2017-05-31 00:00:00,837500,1,1,한국,이십세기폭스코리아(주),15세이상관람가,"드라마,사극",164
636,뮬란: 전사의 귀환,2010-09-02 00:00:00,125435,1,1,중국,"(유)영화사 화수분,(주)에스비에스콘텐츠허브",12세이상관람가,"액션,드라마",283
637,바람 바람 바람,2018-04-05 00:00:00,1194229,1,2,한국,(주)넥스트엔터테인먼트월드(NEW),청소년관람불가,코미디,144
638,불꽃처럼 나비처럼,2009-09-24 00:00:00,1670652,1,1,한국,(주)쇼박스,15세이상관람가,"멜로/로맨스,사극",164
639,사라진 밤,2018-03-07 00:00:00,1315726,1,1,한국,(주)키다리이엔티,15세이상관람가,스릴러,108
640,역린,2014-04-30 00:00:00,3849700,1,2,한국,롯데쇼핑㈜롯데엔터테인먼트,15세이상관람가,사극,328
641,최종병기 활,2011-08-10 00:00:00,7470633,1,1,한국,롯데쇼핑㈜롯데엔터테인먼트,15세이상관람가,"사극,액션",164
642,코코,2018-01-11 00:00:00,3513114,1,2,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,625

## |좌석수 변수가 존재하는 2004년 이후 영화 데이터만 추출
멀티플렉스 시기 이후의 영화를 파악하기로 함, 즉 영화사가 활발해지기 시작한 기점을 파악하여 예측

In [51]:
min(list(kk1['개봉일']))

datetime.datetime(1987, 7, 17, 0, 0)

In [67]:
semifinal=kk1.loc[kk1['개봉일']>pd.datetime(2004,1,1),:]
semifinal.head()
#누적관객수가 1만 이상, 개봉일 2004년 이후, 좌석수 있음

,영화명,개봉일,누적관객수,스크린수,상영횟수,국적,배급사,등급,장르,좌석수
0,극한직업,2019-01-23 00:00:00,16266338,2003,292816,한국,씨제이이앤엠(주),15세이상관람가,코미디,50760733
1,어벤져스: 엔드게임,2019-04-24 00:00:00,13977602,2835,246433,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,SF",41091575
2,겨울왕국 2,2019-11-21 00:00:00,13747792,2648,299334,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,49698035
3,알라딘,2019-05-23 00:00:00,12555894,1409,266518,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"어드벤처,가족,판타지",40475289
4,신과함께-인과 연,2018-08-01 00:00:00,12276359,2235,180047,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,"판타지,드라마",30376322

In [68]:
len(semifinal)

630

In [69]:
semifinal.to_excel(excel_writer='semifinal.xlsx')

## |경쟁 영화 수 크롤링

In [29]:
import pandas as pd
nmovie=pd.read_excel('nmovie.xlsx')
nmovie.head()

,Unnamed: 0,영화명,개봉일,누적관객수,스크린수,상영횟수,국적,배급사,등급,장르,좌석수,경쟁 영화수
0,621,라스트 사무라이,2004-01-09,299214,1,1,미국,워너브러더스 코리아(주),15세관람가,액션,200,29
1,625,말죽거리 잔혹사,2004-01-16,604972,1,1,한국,씨제이엔터테인먼트,15세관람가,"액션,멜로/로맨스",192,29
2,527,콜드 마운틴,2004-02-20,54085,1,3,미국,한국소니픽쳐스릴리징브에나비스타영화㈜,15세관람가,전쟁,600,41
3,604,패션 오브 크라이스트,2004-04-02,865038,1,4,미국,"(주)이수C&E,이십세기폭스필름코퍼레이션",15세관람가,드라마,616,51
4,430,범죄의 재구성,2004-04-15,943241,25,106,한국,(주)쇼박스,18세관람가,스릴러,13058,51

In [30]:
semifinal_=pd.read_excel('semifinal_.xlsx')
semifinal_.head()

,Unnamed: 0,영화명,개봉일,누적관객수,스크린수,상영횟수,국적,배급사,등급,장르,좌석수,평점,뉴스
0,0,극한직업,2019-01-23,16266338,2003,292816,한국,씨제이이앤엠(주),15세이상관람가,코미디,50760733,9.2,358109
1,1,어벤져스: 엔드게임,2019-04-24,13977602,2835,246433,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,SF",41091575,9.5,521258
2,2,겨울왕국 2,2019-11-21,13747792,2648,299334,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,49698035,8.95,304370
3,3,알라딘,2019-05-23,12555894,1409,266518,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"어드벤처,가족,판타지",40475289,9.42,156573
4,4,신과함께-인과 연,2018-08-01,12276359,2235,180047,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,"판타지,드라마",30376322,8.63,393626

In [33]:
final=pd.merge(semifinal_,nmovie,how='outer',on=['영화명','개봉일','누적관객수','스크린수','상영횟수','국적','배급사','등급','장르','좌석수'])

In [34]:
final.head()

,Unnamed: 0_x,영화명,개봉일,누적관객수,스크린수,상영횟수,국적,배급사,등급,장르,좌석수,평점,뉴스,Unnamed: 0_y,경쟁 영화수
0,0,극한직업,2019-01-23,16266338,2003,292816,한국,씨제이이앤엠(주),15세이상관람가,코미디,50760733,9.2,358109,0,511
1,1,어벤져스: 엔드게임,2019-04-24,13977602,2835,246433,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,"액션,SF",41091575,9.5,521258,1,632
2,2,겨울왕국 2,2019-11-21,13747792,2648,299334,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,49698035,8.95,304370,2,951
3,3,알라딘,2019-05-23,12555894,1409,266518,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"어드벤처,가족,판타지",40475289,9.42,156573,3,698
4,4,신과함께-인과 연,2018-08-01,12276359,2235,180047,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,"판타지,드라마",30376322,8.63,393626,4,763

In [35]:
final=final.drop(['Unnamed: 0_x','Unnamed: 0_y'],axis=1)

In [38]:
final.to_excel(excel_writer='final.xlsx')

## |KOBIS 영화 스크린수 크롤링

In [11]:
final2=pd.read_excel('final2.xlsx')
final2.head()

,영화명,개봉일,누적관객수,스크린수,상영횟수,국적,배급사,등급,장르,좌석수,평점,뉴스,경쟁 영화수,상영시간,장르2,한국,new배급사,등급.1
0,극한직업,2019-01-23,16266338,2003,292816,한국,씨제이이앤엠(주),15세이상관람가,코미디,50760733,9.2,358109,511,111,코미디,1,NaN,2
1,어벤져스: 엔드게임,2019-04-24,13977602,2835,246433,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,액션,41091575,9.5,521258,632,181,액션,0,NaN,1
2,겨울왕국 2,2019-11-21,13747792,2648,299334,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,49698035,8.95,304370,951,103,애니메이션,0,NaN,0
3,알라딘,2019-05-23,12555894,1409,266518,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,"어드벤처,가족",40475289,9.42,156573,698,128,모험,0,NaN,0
4,신과함께-인과 연,2018-08-01,12276359,2235,180047,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,"판타지,드라마",30376322,8.63,393626,763,141,판타지,1,NaN,1

In [12]:
screen=pd.read_excel('스크린수.xlsx')
screen.head()

,순번,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,영화구분
0,1,어벤져스: 엔드게임,"안소니 루소,조 루소",NaN,월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,개봉영화,장편,미국,2835,1.221827e+11,13934592,3.357714e+10,3597963,액션,12세이상관람가,일반영화
1,2,겨울왕국 2,"크리스 벅,제니퍼 리",NaN,월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아 유한책임회사,2019-11-21,개봉영화,장편,미국,2648,1.148104e+11,13747792,2.882468e+10,3225974,애니메이션,전체관람가,일반영화
2,3,반도,연상호,(주)영화사레드피터,NaN,(주)넥스트엔터테인먼트월드(NEW),2020-07-15,개봉영화,장편,한국,2575,3.305973e+10,3810327,7.996565e+09,893729,액션,15세이상관람가,일반영화
3,4,어벤져스: 인피니티 워,"안소니 루소,조 루소",NaN,월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아 유한책임회사,2018-04-25,개봉영화,장편,미국,2553,9.991901e+10,11211880,2.863127e+10,3008819,액션,12세이상관람가,일반영화
4,5,신과함께-인과 연,김용화,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",NaN,롯데컬처웍스(주)롯데엔터테인먼트,2018-08-01,개봉영화,장편,한국,2235,1.024768e+11,12253247,2.290555e+10,2636542,판타지,12세이상관람가,일반영화

In [13]:
screen1=screen[['영화명','개봉일','전국스크린수']]
screen1.head()

            영화명        개봉일  전국스크린수
0    어벤져스: 엔드게임 2019-04-24    2835
1        겨울왕국 2 2019-11-21    2648
2            반도 2020-07-15    2575
3  어벤져스: 인피니티 워 2018-04-25    2553
4     신과함께-인과 연 2018-08-01    2235

In [14]:
M=pd.merge(final2,screen1,how='left',on=['영화명','개봉일'])

In [15]:
M1=M.drop(['스크린수','상영횟수','좌석수','장르'],axis=1)

In [16]:
M2=M1.rename({'장르2':'장르'},axis='columns')

In [17]:
M2.head()

,영화명,개봉일,누적관객수,국적,배급사,등급,평점,뉴스,경쟁 영화수,상영시간,장르,한국,new배급사,등급.1,전국스크린수
0,극한직업,2019-01-23,16266338,한국,씨제이이앤엠(주),15세이상관람가,9.2,358109,511,111,코미디,1,NaN,2,1978.0
1,어벤져스: 엔드게임,2019-04-24,13977602,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,9.5,521258,632,181,액션,0,NaN,1,2835.0
2,겨울왕국 2,2019-11-21,13747792,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,8.95,304370,951,103,애니메이션,0,NaN,0,2648.0
3,알라딘,2019-05-23,12555894,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,9.42,156573,698,128,모험,0,NaN,0,1311.0
4,신과함께-인과 연,2018-08-01,12276359,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,8.63,393626,763,141,판타지,1,NaN,1,2235.0

In [18]:
M2.to_excel(excel_writer='final4.xlsx')