In [14]:
import pandas as pd
import datetime
final2=pd.read_excel('final4.xlsx')
final2.head()

,Unnamed: 0,영화명,개봉일,누적관객수,국적,배급사,등급,평점,뉴스,경쟁 영화수,상영시간,장르,한국,new배급사,등급.1,전국스크린수
0,0,극한직업,2019-01-23,16266338,한국,씨제이이앤엠(주),15세이상관람가,9.2,358109,511,111,코미디,1,NaN,2,1978.0
1,1,어벤져스: 엔드게임,2019-04-24,13977602,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,9.5,521258,632,181,액션,0,NaN,1,2835.0
2,2,겨울왕국 2,2019-11-21,13747792,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,8.95,304370,951,103,애니메이션,0,NaN,0,2648.0
3,3,알라딘,2019-05-23,12555894,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,9.42,156573,698,128,모험,0,NaN,0,1311.0
4,4,신과함께-인과 연,2018-08-01,12276359,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,8.63,393626,763,141,판타지,1,NaN,1,2235.0

## |개봉일 -> 개봉월, 개봉요리, 개봉요일 주말/평일 여부, 계절

In [15]:
type(final2["개봉일"])

pandas.core.series.Series

In [16]:
year=final2['개봉일'].dt.year
day=final2['개봉일'].dt.day
month=final2['개봉일'].dt.month

In [17]:
final2['개봉월']=month

In [18]:
wd=[]
for i in range(len(final2)):
    weekday=datetime.date(year[i],month[i],day[i]).weekday()
    wd.append(weekday)

In [19]:
final2['요일']=wd

In [20]:
week_end=[]
a=0
for i in range(len(final2)):
    if wd[i]==0 :
        a=0
        week_end.append(a)
    elif wd[i]==1 :
        a=0
        week_end.append(a)
    elif wd[i]==2 :
        a=0
        week_end.append(a)
    elif wd[i]==3 :
        a=0
        week_end.append(a)
    elif wd[i]==4 :
        a=0
        week_end.append(a)
    else :
        a=1
        week_end.append(a)

In [21]:
# 평일 개봉 영화 626편
# 월 1, 화 23, 수 342, 목 242, 금 18
week_end.count(0)

626

In [22]:
# 주말 개봉 영화 4편
# 토 4, 일 0
week_end.count(1)

4

In [23]:
final2['주말']=week_end

In [24]:
#1 : 겨울, 2: 봄, 3: 여름, 4: 가을
season=(final2['개봉일'].dt.month%12+3)//3

In [25]:
final2['계절']=season

## 장르 정리 및 재분류

In [26]:
genre=final2['장르']

In [27]:
ani=[]
g=0
for i in range(len(final2)):
    if genre[i]=='애니메이션':
        g=1
        ani.append(g)
    else:
        g=0
        ani.append(g)
ani.count(1)

139

In [28]:
action=[]
g=0
for i in range(len(final2)):
    if genre[i]=='액션':
        g=1
        action.append(g)
    else:
        g=0
        action.append(g)
action.count(1)

123

In [29]:
drama=[]
g=0
for i in range(len(final2)):
    if genre[i]=='드라마':
        g=1
        drama.append(g)
    else:
        g=0
        drama.append(g)
drama.count(1)

112

In [30]:
comedy=[]
g=0
for i in range(len(final2)):
    if genre[i]=='코미디':
        g=1
        comedy.append(g)
    else:
        g=0
        comedy.append(g)
comedy.count(1)

43

In [31]:
crime=[]
g=0
for i in range(len(final2)):
    if genre[i]=='범죄':
        g=1
        crime.append(g)
    else:
        g=0
        crime.append(g)
crime.count(1)

42

In [32]:
roman=[]
g=0
for i in range(len(final2)):
    if genre[i]=='멜로/로맨스':
        g=1
        roman.append(g)
    else:
        g=0
        roman.append(g)
roman.count(1)

27

In [33]:
thrill=[]
g=0
for i in range(len(final2)):
    if genre[i]=='스릴러':
        g=1
        thrill.append(g)
    else:
        g=0
        thrill.append(g)
thrill.count(1)

27

In [34]:
horror=[]
g=0
for i in range(len(final2)):
    if genre[i]=='공포':
        g=1
        horror.append(g)
    else:
        g=0
        horror.append(g)
horror.count(1)

26

In [35]:
fanta=[]
g=0
for i in range(len(final2)):
    if genre[i]=='판타지':
        g=1
        fanta.append(g)
    else:
        g=0
        fanta.append(g)
fanta.count(1)

20

In [36]:
mistery=[]
g=0
for i in range(len(final2)):
    if genre[i]=='미스터리':
        g=1
        mistery.append(g)
    else:
        g=0
        mistery.append(g)
mistery.count(1)

16

In [37]:
adven=[]
g=0
for i in range(len(final2)):
    if genre[i]=='모험':
        g=1
        adven.append(g)
    else:
        g=0
        adven.append(g)
adven.count(1)

16

In [38]:
SF=[]
g=0
for i in range(len(final2)):
    if genre[i]=='SF':
        g=1
        SF.append(g)
    else:
        g=0
        SF.append(g)
SF.count(1)

12

In [39]:
family=[]
g=0
for i in range(len(final2)):
    if genre[i]=='가족':
        g=1
        family.append(g)
    else:
        g=0
        family.append(g)
family.count(1)

6

In [40]:
musical=[]
g=0
for i in range(len(final2)):
    if genre[i]=='뮤지컬':
        g=1
        musical.append(g)
    else:
        g=0
        musical.append(g)
musical.count(1)

6

In [41]:
perform=[]
g=0
for i in range(len(final2)):
    if genre[i]=='공연':
        g=1
        perform.append(g)
    else:
        g=0
        perform.append(g)
perform.count(1)

5

In [42]:
war=[]
g=0
for i in range(len(final2)):
    if genre[i]=='전쟁':
        g=1
        war.append(g)
    else:
        g=0
        war.append(g)
war.count(1)

3

In [43]:
docu=[]
g=0
for i in range(len(final2)):
    if genre[i]=='다큐멘터리':
        g=1
        docu.append(g)
    else:
        g=0
        docu.append(g)
docu.count(1)

3

In [44]:
history=[]
g=0
for i in range(len(final2)):
    if genre[i]=='사극':
        g=1
        history.append(g)
    else:
        g=0
        history.append(g)
history.count(1)

3

In [45]:
noir=[]
g=0
for i in range(len(final2)):
    if genre[i]=='느와르':
        g=1
        noir.append(g)
    else:
        g=0
        noir.append(g)
noir.count(1)

1

In [46]:
final2['애니메이션']=ani
final2['액션']=action
final2['드라마']=drama
final2['코미디']=comedy
final2['범죄']=crime
final2['멜로/로맨스']=roman
final2['스릴러']=thrill
final2['공포']=horror
final2['판타지']=fanta
final2['미스터리']=mistery
final2['모험']=adven
final2['SF']=SF
final2['가족']=family
final2['뮤지컬']=musical
final2['공연']=perform
final2['전쟁']=war
final2['다큐멘터리']=docu
final2['사극']=history
final2['느와르']=noir

In [47]:
final2.head()

,Unnamed: 0,영화명,개봉일,누적관객수,국적,배급사,등급,평점,뉴스,경쟁 영화수,...,미스터리,모험,SF,가족,뮤지컬,공연,전쟁,다큐멘터리,사극,느와르
0,0,극한직업,2019-01-23,16266338,한국,씨제이이앤엠(주),15세이상관람가,9.2,358109,511,...,0,0,0,0,0,0,0,0,0,0
1,1,어벤져스: 엔드게임,2019-04-24,13977602,미국,월트디즈니컴퍼니코리아 유한책임회사,12세이상관람가,9.5,521258,632,...,0,0,0,0,0,0,0,0,0,0
2,2,겨울왕국 2,2019-11-21,13747792,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,8.95,304370,951,...,0,0,0,0,0,0,0,0,0,0
3,3,알라딘,2019-05-23,12555894,미국,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,9.42,156573,698,...,0,1,0,0,0,0,0,0,0,0
4,4,신과함께-인과 연,2018-08-01,12276359,한국,롯데컬처웍스(주)롯데엔터테인먼트,12세이상관람가,8.63,393626,763,...,0,0,0,0,0,0,0,0,0,0

In [48]:
final2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 39 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  630 non-null    int64
 1   영화명         630 non-null    object
 2   개봉일         630 non-null    datetime64[ns]
 3   누적관객수       630 non-null    int64
 4   국적          630 non-null    object
 5   배급사         630 non-null    object
 6   등급          630 non-null    object
 7   평점          630 non-null    object
 8   뉴스          630 non-null    int64
 9   경쟁 영화수      630 non-null    int64
 10  상영시간        630 non-null    int64
 11  장르          630 non-null    object
 12  한국          630 non-null    int64
 13  new배급사      0 non-null      float64
 14  등급.1        630 non-null    int64
 15  전국스크린수      625 non-null    float64
 16  개봉월         630 non-null    int64
 17  요일          630 non-null    int64
 18  주말          630 non-null    int64
 19  계절          630 non-null    int64
 20  애니메이션       630 non-null    int64
 21  액션          630 non-null    int64
 22  드라마         630 non-null    int64
 23  코미디         630 non-null    int64
 24  범죄          630 non-null    int64
 25  멜로/로맨스      630 non-null    int64
 26  스릴러         630 non-null    int64
 27  공포          630 non-null    int64
 28  판타지         630 non-null    int64
 29  미스터리        630 non-null    int64
 30  모험          630 non-null    int64
 31  SF          630 non-null    int64
 32  가족          630 non-null    int64
 33  뮤지컬         630 non-null    int64
 34  공연          630 non-null    int64
 35  전쟁          630 non-null    int64
 36  다큐멘터리       630 non-null    int64
 37  사극          630 non-null    int64
 38  느와르         630 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(30), object(6)
memory usage: 192.1+ KB

In [49]:
final2.to_excel(excel_writer='real_final.xlsx')